- hosts: localhost

  become: false
  gather_facts: false

  tasks:
    - name: "wypisz na ekran"
      ansible.builtin.debug:
        msg: "{{ hostvars[item] }}"
      loop: "{{ groups['all'] }}"

    - name: "wypisz na ekran"
      ansible.builtin.debug:
        msg: "{{ hostvars[item].zmienna | default('') }}"
      loop: "{{ groups['all'] }}"


    - name: "wypisz na ekran"
      ansible.builtin.debug:
        msg: "{{ hostvars['apache02'] }}"

    - name: "wypisz na ekran"
      ansible.builtin.debug:
        msg: "{{ hostvars['apache02'].zmienna }}"
